.insight-page {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

.insight-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 50px;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.nav-tabs {
  display: flex;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.tab {
  font-family: 'Segoe UI', sans-serif;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(57, 57, 57);
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
}

.tab:hover,
.tab.active {
  color: white;
  background: rgba(255, 255, 255, 0.15);
}

.custom-bold {
  color: #b5430e;
  font-weight: bold;
}

.main-content {
  max-width: 90%;
  margin: 0 auto;
}

.main-content h1 {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #b5430e;
}

.main-content p,
.artifact p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}

.text {
  flex: 1;
  margin-bottom: none;
}

.artifacts-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #be6c451b;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.artifacts-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}

.artifacts-section h2 {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  color: #b5430e;
}

.content-block {
  margin-top: none;
  display: flex;
  align-items: flex-start;
}
  
.image-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  gap: 10px;
}

.image-container img {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#float-img-art1 {
  margin-top: 45px;
  height: 250px;
  transform: rotate(90deg);
}

#float-img-art2 {
  height: 350px;
  margin-right: 20px;
}

.artifact3_img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img-container {
  display: flex;
  gap: 20px;
  height: 550px;
  margin: 0 auto;
}
  
.img-container img {
  height: 100%;
}

.bold {
  color: #b5430e;
}

#art-title {
  font-size: 18px;
  color: #b5430e;
  font-weight: 500;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Changing scroll bar colors: */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 5px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
  border: none;
}

::-webkit-scrollbar-track {
  background-color: #d4d4d4;
}

@media (max-width: 1200px) {
  .image-container {
    flex-direction: column;
    gap: 50px;
  }
}